// nextflow.config

// 1. SLURM Executor Settings & Rate Limiting
executor {
    name = 'slurm'
    queueSize = 100            // Max jobs in SLURM queue at once
    submitRateLimit = '10 sec' // Throttle job submission
}

// 2. Process Resource Allocations
process {
    executor = 'slurm'
    // queue = 'standard'         // Change to your HPC's specific partition

    // Default fallback resources
    cpus = 1
    memory = '2 GB'
    time = '1h'

    // Tool-specific resources
    withName: 'FASTQC' {
        cpus = 2
        memory = '4 GB'
    }
    withName: 'TRIMMOMATIC' {
        cpus = 4
        memory = '8 GB'
    }
	
	withName: 'SEQKIT_FQ2FA' {
		cpus = 1
		memory = '2 GB'
}
    withName: 'SALMON_QUANT' {
        cpus = 6
        memory = '12 GB'
    }
    withName: 'R_ANALYSIS' {
        cpus = 1
        memory = '1 GB'
    }
}
conda {
    enabled = true
}

apptainer {
    enabled = true
    autoMounts = true
    runOptions = '--bind /common'
}
